{% extends "layout.html" %}

{% block page_title %}
About - GOV.UK Prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <form action="/aboutswitch.html" method="get" class="form">

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Switching to Universal Credit</h1>
      <p class="lede">
      </p>
      <div class="panel panel-border-wide alert-default">
        You have until <strong class="bold-small">21 December</strong>
      to complete your application for Universal Credit.
      </div>
      <p>
        The next thing you need to do is complete your declaration and make your claimant commitment.
      </p>
      <p>
      We’ve verified your identity. We’re just doing a few more checks now.
      </p>
      <p>
      <a href="#">Return to your Universal Credit account</a>
      </p>

    </div>
    <div class="column-third">

      <p style="margin-top:190px; font-weight:bold;";>Your switch journey</p>
      <ul class="journey">
        <li class="done">Preparing for Universal Credit</li>
        <li class="done">Letter received with switch date</li>
        <li class="done">Conversation with Universal Credit representative</li>
        <li class="done">Universal Credit application process started</li>
        <li>Identity checks complete</li>
        <li>Declaration and claimant commitment made</li>
        <li>Universal Credit application complete</li>
        <li>First Universal Credit payment received</li>
      </ul>
          </div>
</form>

</main>

{% endblock %}
