// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}
.bold-small {
  font-weight: bold;
}
.bold-large {
  font-weight: bold;
}
.journeybox {
  background-image:url(/public/images/stages_dots.png)
  // background-repeat:no-repeat;
  // background-position: top left;
  p {
    margin-top: 30px;
  }
}
.alert-default {
  border-color: $light-blue;
  background-color: mix(white, $light-blue, 90%);
}
.spaceforlink {
  margin-bottom: 80px
}
ul.journey {
  margin-left: 20px;
  border-left: 3px solid #458ccc;
}
.journey li {
  list-style: none;
  margin: 1em 1em 1em -16px;
  position: relative;
  top: -10px;
}
.journey li::before {
    content: "";
    border: 3px solid #458ccc;
    width: 14px;
    height: 15px;
    position: absolute;
    top: 10px;
    left: -2.2em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    zoom: 1;
    background: white;
}
.journey li.done::before {
  border-width: 10px;
  width: 0px;
  height: 0px;
}
// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
