{% extends "layout.html" %}

{% block page_title %}
About - GOV.UK Prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
        <form class="form" action="/ucs1/uc-switch-is-coming" method="post">

      <h1 class="heading-xlarge form-heading">Universal Credit Switch</h1>
      <p class="lede">
        Find out when you need to switch to Universal Credit and what you need to
        prepare for it.
      </p>
      <p>
        <a class="button button-start" href="/ucs1/postcode.html" role="button">Start</a>
      </p>

  </form>

    </div>
  </div>


</main>

{% endblock %}
