{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        UC Switch prototypes
      </h1>
      <img src="/public/images/UCSwitch_logo@2x.png" alt="" width="162" height="182"; />
      <p>
        This page contains the prototypes created for UC Switch.
        Use the links below to view each prototype.
      </p>
      <h2 class="heading-medium">UC Switch - coming soon</h2>
			<ul class="list list-bullet">
				<li><a href="/ucswitchiscoming">UC in your area</a></li>
        <li><a href="/journey_stage1">Your UC Journey</a></li>
			</ul>

    </div>
  </div>
</main>


{% endblock %}
